* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
     /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.container img {
    display: none;
    width: 1200px;
    height: 600px;
    
}


img.active {
    display: block;

}


button {
    margin-top: 10px;
    padding: 15px 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #4CAF50;
}
button:hover {
    background-color: peru;
}
button:disabled {
    background-color: #777;
    cursor: not-allowed;
    color: #f4f4f4;
}

@media only screen and (max-width:600px) {
    .container img {
        /* display: none; */
        object-fit: cover;
        width: 90%;
        height: 450px;
        
    }
}